
html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Scrollbar width */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track color */
.custom-scroll::-webkit-scrollbar-track {
  background: #FAB765;
  /* Tailwind gray-200 */
}

/* Scrollbar thumb color */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #456C89;
  /* Tailwind blue-500 */
  border-radius: 10px;
}

/* Hover effect */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #456C89;
  /* Tailwind blue-700 */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.edge-browser .teddy-edge-fix {
  transform: translate(40px, 15px) !important;
}

/* image slider */

.slider-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}


.slider-track {
  display: flex;
  width: 300%;
  height: 100%;
  animation: sliderSlide 24s ease-in-out infinite;
}


.slide {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-position: center;
}


.slide-1 {
  background-image: url("assets/page1/Gently escort.png");
  background-size: 63%;
}

.slide-2 {
  background-image: url("assets/page5/bg1.jpeg");
  background-size: 88%;
}


@keyframes sliderSlide {
 
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(0%);
  }

  
  50% {
    transform: translateX(-33.333%);
  }

  
  90% {
    transform: translateX(-33.333%);
  }

  
  100% {
    transform: translateX(-66.666%);
  }
}




/* shape animation */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* fonts */
@font-face {
  font-family: "CanvaSans";
  src: url("fonts/canva-sans-regular.otf") format("opentype");
}

@font-face {
  font-family: "Futura";
  src: url("fonts/FuturaCyrillicMedium.ttf") format("truetype");
}

/* line animation */
@keyframes hr-reveal {
  0% {
    width: 0;
    opacity: 0;
  }
  20% {
    width: 100%;
    opacity: 1;
  }
  80% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.animate-hr {
  animation: hr-reveal 4s ease-in-out infinite;
}


/* swiper color */
.swiper-pagination-bullet {
  background-color: #FC8F3A; 
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color: #FC8F3A; 
  opacity: 1;
}
